@model AlienTravelModel
@{
    ViewData["Title"] = "Alien Travel Calculator";
}

<section class="centeredPanel">

    <h2>Alien Travel Calculator</h2>

	<form asp-controller="calculators" asp-action="alientravelresult" method="get">

		<div>
			<label asp-for="EndingAge"></label>
			<select asp-for="EndingAge" asp-items="AlienWeightModel.Planet"></select>
		</div>

		<div>
			<label asp-for="Transportation"></label>
			<select asp-for="Transportation" asp-items="AlienTravelModel.Transport"></select>
		</div>

		<div>
			<label asp-for="AgeToConvert"></label>
			<input asp-for="AgeToConvert" />
		</div>

		<div class="submit-button">
			<input type="submit" value="Calculate" />

		</div>
	</form>


</section>